@()

@main("logfront") {

<style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
    overflow: hidden;
  }
  .sidebar-nav {
    padding: 9px 0;
    height: 800px;
    overflow-y: auto;
  }
</style>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav" ng-controller="ApplicationsController">
        <div class="btn-toolbar">
          <div class="btn-group">
            <button class="btn" ng-click="load()">Reload</button>
          </div>
        </div>
        <ul class="nav nav-list" ng-repeat="app in applications">
          <li class="nav-header"><h5>{{app.applicationName}}</h5></li>
          <li ng-class="{active: $routeParams.envName==env.environmentName}" ng-repeat="env in app.environments">
            <a href="/applications/{{app.applicationName}}/environments/{{env.environmentName}}"
               ng-class="{muted: env.status != 'Ready' || env.health != 'Green'}">
              {{env.environmentName}}
              <span class="muted" style="font-size:0.8em;" ng-show="env._isActive">({{env.CNAME}})</span>
            </a>
          </li>
          <li ng-show="!app.environments._loaded" class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
          </li>
          <li class="muted" ng-show="app.environments._loaded && app.environments.length == 0">
            No environments found
          </li>
        </ul>

        <div class="progress progress-striped active" ng-show="!applications._loaded">
          <div class="bar" style="width: 100%;"></div>
        </div>
        <span class="muted" ng-show="applications._loaded && applications.length == 0">
          No applications found
        </span>
      </div>
    </div><!--/span-->
    <div class="span10" ng-view></div>
  </div><!--/row-->

  <hr>

  <footer>
    Logfront
  </footer>
</div>

}
