@(title: String)(content: Html)

<!doctype html>

<html lang="en" ng-app="logfront">
  <head>
    <meta charset="utf-8">
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Logfront</a>
        </div>
      </div>
    </div>
    @content
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
  </body>
</html>
